
<form action="upload" method="post" enctype='multipart/form-data' class="upload">
    Ride Name (optional): <input type="text" name="title"><p/>
    Public?: <input type="checkbox" name="public" value="yes"><p/>
    CA Log File: <input type="file" name="ca_log_file"><p/>
    CA GPS File: <input type="file" name="ca_gps_file"><p/>
    <input type=submit name=press value="OK">
</form>

